{% extends "layout.html" %}
{% block content %}
<form class="mt-5 card col-5 mx-auto p-3" method="post">
  {% csrf_token %}

  <h2 class="text-center">LOGIN FORM</h2>

  <div class="mb-3">
    <label class="form-label">Username</label>
    <input
      type="text"
      name="username"
      class="form-control"
      required
    />
  </div>

  <div class="mb-3">
    <label class="form-label">Password</label>
    <input
      type="password"
      name="password"
      class="form-control"
      required
    />
  </div>

  <h6 class="mt-2">
    Don't have an account?
    <a href="{% url 'register' %}">Register Here</a>
  </h6>

  <button type="submit" class="btn btn-primary mt-3">
    Submit
  </button>

  {% if error %}
    <p class="text-danger mt-2 text-center">{{ error }}</p>
  {% endif %}
</form>
{% endblock %}
